#main-container #account-widget.dashbox {
	grid-area: account;
}

#main-container.account {
	display: grid;
	position: absolute;
	top: 16px;
	right: 16px;
	bottom: 16px;
	left: 0;
	grid-gap: 16px;
	grid-template-rows: 1fr;
	grid-template-columns: 12% 1fr;
	grid-template-areas: 
		"navigation account";
}

@media screen and (max-width: 800px) {
    #main-container.account {
        display: flex;
        top: 80px;
        right: 0;
        bottom: 0;
        left: 0;
    }
    #main-container.account #account {
        height: 100%;
    }
}