
.content-main.dashboard {
	z-index: 1;
	display: grid;
	position: absolute;
	top: 16px;
	right: 16px;
	bottom: 16px;
	left: 0;
	grid-gap: 32px;
	grid-template-rows: 25% 1fr;
	grid-template-columns: 12% 25% 1fr;
	grid-template-areas: 
		"navigation profile coin-widgets"
		"navigation transactions graph";
}
@media screen and (max-width: 800px) {
	#main-container.dashboard {
		justify-content: center;
	}
	#main-container #profilewidget {
		margin-bottom: 5vh;
	}
}


#main-container #profilewidget {
    justify-content: flex-start;
}

@media screen and (max-height: 530px) {
	#main-container #profilewidget {
		margin-bottom: 0px;
	}
}

/* mobile coins */
#mobile-coins-container {
	display: none;
}
@media screen and (max-width: 800px) {
	#mobile-coins-container {
		display: block;
	}
}

#mobile-coins-container > div {
	background: linear-gradient(to left, #3C4564, #6B78A0);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
	margin: 20px 30px;
	border-radius: 16px;
	box-shadow: 0 35px 36px rgba(0,0,0,0.2);
	cursor: pointer;
}
#mobile-coins-container .icon {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
#mobile-coins-container .icon img {
	height: 21px;
}
#mobile-coins-container #widget-bitcoin .icon {
	background: linear-gradient(to bottom left, #8EDEFC, #56ACFF);
}
#mobile-coins-container #widget-ethereum .icon {
	background: linear-gradient(to bottom left, #FFB3B3, #FF80B7);
}
#mobile-coins-container #widget-litecoin .icon {
	background: linear-gradient(to bottom left, #FFFF98, #FFA2D4);
}

#mobile-coins-container .coin-widget div p:first-child {
	font-size: 13pt;
	color: white;
}
#mobile-coins-container .coin-widget div p:nth-child(2) {
	font-size: 10pt;
	color: #AFBFEE;
}
#mobile-coins-container .coin-widget > div.growth p {
	color: #B7FFAC;
}







/* coin widgets */
#coin-widget-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
#coin-widget-container .coin-widget {
	font-size: 20pt;
	width: 27%;
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
}
#coin-widget-container .coin-widget .ticker-main {
	flex-grow: 1;
	padding: 0 8px;
	position: relative;
	border: none;
	box-shadow: 0 3px 6px rgba(0,0,0,0.8);
	border-radius: 10px;
	text-shadow: 0 3px 6px black;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
	transition: all 250ms;
}
#coin-widget-container .coin-widget .ticker-main:hover {
	box-shadow: 0 3px 32px 6px rgba(0,0,0,0.5);
	text-shadow: 0 6px 12px black;
}
#coin-widget-container .coin-widget:nth-child(1) .ticker-main {
	background: linear-gradient(to left, #8EDEFC, #56ACFF);
}
#coin-widget-container .coin-widget:nth-child(2) .ticker-main {
	background: linear-gradient(to left, #FFFF98, #FFA2D4);
}
#coin-widget-container .coin-widget:nth-child(3) .ticker-main {
	background: linear-gradient(to left, #FF80B7, #FFB3B3);
}
#coin-widget-container .coin-widget .ticker-main img {
	position: absolute;
	top: 45%;
	left: 30%;
	transform: translate(-50%, -50%);
	z-index: 0;
	height: 100%;
}
#coin-widget-container .coin-widget .ticker-main p.title {font-size: 20pt;}
#coin-widget-container .coin-widget .ticker-main p {
	text-align: center;
	width: 100%;
}
#coin-widget-container .coin-widget .buttons {
	display: flex;
	justify-content: space-between;
}
#coin-widget-container .coin-widget .buttons a {
	display: inline-block;
	margin-top: 8px;
	color: #AFBFEE;
	background-color: #3C4564;
	box-shadow: 0 3px 6px rgba(0,0,0,0.8);
	text-align: center;
	padding: 4px 0;
	width: 40%;
	font-size: 18px;
	line-height: 18px;
	border-radius: 2px;
	cursor: pointer;
	transition: all 250ms;
}
#coin-widget-container .coin-widget .buttons a:hover {
	box-shadow: 0 3px 24px 6px rgba(0,0,0,0.8);
	text-shadow: 0 3px 6px black;
}
#coin-widget-container .coin-widget .buttons a img {
	display: inline-block;
	height: 18px;
	margin-right: 2px;
	position: relative;
	top: 2px;
}
@media screen and (max-width: 1450px) {
	#coin-widget-container .coin-widget .buttons a img {
		display: block;
		margin: 0 auto;
	}
	#coin-widget-container .coin-widget .buttons a {
		font-size: 12px;
	}
}
@media screen and (max-width: 1240px) {
	#coin-widget-container .coin-widget .ticker-main p.title {font-size: 16pt;}
}
@media screen and (max-width: 800px) {
	#coin-widget-container {
		display: none;
	}
}







/* wallet */
#wallet-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}
#wallet-container .coin-widget {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	height: 40%;
	width: 90%;
	max-width: 512px;
}
#wallet-container .coin-widget .ticker-main {
	flex-grow: 1;
	padding: 0 8px;
	margin: 16px 0;
	position: relative;
	border: none;
	box-shadow: 0 3px 6px rgba(0,0,0,0.8);
	border-radius: 10px;
	text-shadow: 0 3px 6px black;
	justify-content: center;
	overflow: hidden;
	width: 100%;
}
#wallet-container .coin-widget.widget-bitcoin .ticker-main {
	background: linear-gradient(to left, #8EDEFC, #56ACFF);
}
#wallet-container .coin-widget.widget-litecoin .ticker-main {
	background: linear-gradient(to left, #FFFF98, #FFA2D4);
}
#wallet-container .coin-widget.widget-ethereum .ticker-main {
	background: linear-gradient(to left, #FF80B7, #FFB3B3);
}
#wallet-container .coin-widget h2 {
	text-align: center;
}
#wallet-container .coin-widget .ticker-main p.title {font-size: 20pt;}
#wallet-container .coin-widget .ticker-main p {
	text-align: center;
	width: 100%;
}
#wallet-container .coin-widget .ticker-main img {
	position: absolute;
	top: 45%;
	left: 30%;
	transform: translate(-50%, -50%);
	z-index: 0;
	height: 100%;
}

#wallet-container .coin-widget .buttons {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
#wallet-container .coin-widget .buttons a {
	display: inline-block;
	margin-top: 8px;
	color: #AFBFEE;
	background-color: #3C4564;
	box-shadow: 0 3px 6px rgba(0,0,0,0.8);
	text-align: center;
	padding: 4px 0;
	width: 40%;
	font-size: 18px;
	line-height: 18px;
	border-radius: 2px;
	cursor: pointer;
	transition: all 250ms;
}
#wallet-container .coin-widget .buttons a:hover {
	box-shadow: 0 3px 24px 6px rgba(0,0,0,0.8);
	text-shadow: 0 3px 6px black;
}
#wallet-container .coin-widget .buttons a img {
	display: inline-block;
	height: 18px;
	margin-right: 2px;
	position: relative;
	top: 2px;
}

@media screen and (max-width: 400px) {
	#wallet-container .coin-widget h2 {
		font-size: 22pt;
	}
}
@media screen and (max-width: 470px) {
	#wallet-container .coin-widget.widget-ethereum h2 {
		font-size: 22pt;
	}
}
@media screen and (max-width: 3470px) {
	#wallet-container .coin-widget.widget-ethereum h2 {
		font-size: 16pt;
	}
}