#exchange-widget {
    position: relative;
}

#exchange-widget .button-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: linear-gradient(to top, #694ac6 , #7249c9);
}

#exchange-widget .button-bar .button {
    background-color: transparent;
    height: 100%;
    padding: 2px 16px 10px 16px;
    border: none;
    color: white;
    font-size: 140%;
    cursor: pointer;
}

#exchange-widget .button-bar .button.active {
    background-color: rgba(255,255,255,0.1);
}