#main-container #exchange-widget.dashbox {
	grid-area: exchange;
}

#main-container.exchange {
	display: grid;
	position: absolute;
	top: 16px;
	right: 16px;
	bottom: 16px;
	left: 0;
	grid-gap: 0;
	grid-template-rows: 1fr;
	grid-template-columns: 12% 1fr;
	grid-template-areas: 
		"navigation exchange";
}

@media screen and (max-width: 800px) {
    #main-container.exchange {
        display: flex;
        top: 0;
        right: 0;
        bottom: 60px;
        left: 0;
    }
    #main-container.exchange #exchange {
        height: 90%;
    }
}