#main-container.content-main.login {
    background: linear-gradient(to right, #704ac7, #005ba1);
    background: linear-gradient(to right, var(--color1), var(--color2));
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
    left: 0;
    overflow:hidden;
    perspective: 22vh;
}


#main-container.content-main.login .login-box {
    width: 80vw;
    max-width: 600px;
    display: flex;
	flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#main-container.content-main.login .login-box img {
    width: 100%;
}

#main-container.content-main.login .login-box div {
    color: white;
    text-align: center;
}



#main-container.content-main.login #moving-floor-canvas-container {
    position: absolute;
    bottom: 0;
    left: -25vw;
    right: -25vw;
    width: auto;
    top: 20%;
    overflow: hidden;
    mix-blend-mode: hard-light;
    transform: rotateX(80deg);
}

#main-container.content-main.login #moving-floor-canvas-container:after {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(gray, transparent);
}