.dashboard #profilewidget .picture {grid-area: picture;}
.dashboard #profilewidget .info {grid-area: info;}
.dashboard #profilewidget .portfolio {grid-area: portfolio;}
.dashboard #profilewidget .profile {grid-area: profile;}
.dashboard #profilewidget .settings {grid-area: settings;}
.dashboard #profilewidget .add-friends {grid-area: friends;}
.dashboard #profilewidget .logout {grid-area: logout;}


.dashboard #profilewidget {
    
}
.dashboard #profilewidget a {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background: linear-gradient(to top right, #4438EF, #F4C0FF);
    border-radius: 16px;
    box-shadow: 0 3px 6px black;
    text-decoration: none;
    text-shadow: 0 3px 6px black;
    width: 80%;
    height: 80%;
    color: white;
    text-align: center;
}
.dashboard #profilewidget .info {
    margin-bottom: 16px;
}
