.dashboard #profilewidget a {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background: linear-gradient(to top right, #4438EF, #F4C0FF);
    border-radius: 16px;
    box-shadow: 0 3px 6px black;
    text-decoration: none;
    text-shadow: 0 3px 6px black;
    width: 80%;
    height: 80%;
    color: white;
    text-align: center;
    transition: all 250ms;
}
.dashboard #profilewidget a:hover {
    box-shadow: 0 3px 32px 6px rgba(0,0,0,0.5);
	text-shadow: 0 6px 12px black;
}
.dashboard #profilewidget .info {
    margin-bottom: 16px;
}

@media screen and (min-width: 800px) and (max-height: 760px) {
    .dashboard #profilewidget a > * > * {
        font-size: 22px;
    }
}
@media screen and (min-width: 800px) and (max-width: 1100px) {
    .dashboard #profilewidget a > * > * {
        font-size: 22px;
    }
}

