#main-container #sendreceive {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}


#sendreceiveform {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#sendreceiveform .walletsellect, 
#sendreceiveform .button-bar, #sendreceiveform .bottomform {
    width: 100%;
}

#sendreceiveform .walletsellect {
    padding: 2px 16px;
}
#sendreceiveform .walletsellect h4 {
    display: inline-block;
    margin-right: 8px;
}
#sendreceiveform .walletsellect p {
    display: inline-block;
}
#sendreceiveform .walletsellect select {
    color: white;
    background-color: rgba(255,255,255,0.1);
    border: none;
    padding: 2px 16px;
}
#sendreceiveform .walletsellect select option {
    background-color: #4ba0eb;
}

#sendreceiveform .button-bar {
    border-top: 4px solid #4ba0eb;
}

#sendreceiveform button {
    border: none;
    padding: 2px 16px;
    background-color: transparent;
    color: white;
}
#sendreceiveform button.active {
    background-color: #4ba0eb;
}
#sendreceiveform .bottomform {
    padding: 2px 16px;
}
#sendreceiveform .bottomform .input-row {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 2px;
    justify-content: space-around;
}
#sendreceiveform .bottomform .input-row.address {
    height: 50px;
    width: 100%;
    display: block;
    margin: 7px 0;
    position: relative;
}
#sendreceiveform .bottomform .input-row.address h4 {
    display: inline;
}
#sendreceiveform .bottomform .input-row.address p {
    display: block;
    word-break: break-all;
    word-wrap: break-word;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#sendreceiveform .bottomform h4 {
    display: inline-block;
    margin-right: 8px;
}
#sendreceiveform .bottomform input[type="text"] {
    display: inline-block;
    width: 100%;
}

#sendreceiveform .bottomform input[type="submit"] {
    border: none;
    padding: 2px 16px;
    background-color: #4ba0eb;
    color: white;
}


/* special dashboard popup styling */

#main-container.dashboard #sendreceive {
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    box-shadow: 0 0 16vw 8vw rgba(10,10,10,0.8);
    background-color: #0c1744;
    z-index: -100;
    opacity: 0;
    transition: opacity 500ms;
}
#main-container.dashboard.content-main #sendreceive.transparent {
    opacity: 0;
}

#main-container.dashboard #sendreceive.active {
    z-index: 100;
    opacity: 1;
}

#main-container.dashboard #sendreceive > form {
    max-width: 600px;
    margin: 0 auto;
}

#main-container #sendreceive .x-out {
    display: none;
}
#main-container.dashboard #sendreceive .x-out {
    display: block;
    position: absolute;
    top: 5vh;
    right: 5vh;
    cursor: pointer;
}
#main-container.dashboard #sendreceive .x-out img {
    height: 40px;
}