#main-container #sendreceive {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}


#sendreceiveform {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
}

#sendreceiveform .walletsellect, #sendreceiveform .button-bar {
    display: none;
}

#sendreceiveform .bottomform {
    width: 100%;
    padding: 2px 16px;
}
#sendreceiveform .bottomform .input-row {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 16px;
    justify-content: space-around;
}
#sendreceiveform .bottomform .input-row.address {
    height: 50px;
    width: 100%;
    display: block;
    margin: 7px 0;
    position: relative;
}
#sendreceiveform .bottomform .input-row.address h4 {
    display: inline;
}
#sendreceiveform .bottomform .input-row.address p {
    display: block;
    word-break: break-all;
    word-wrap: break-word;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#sendreceiveform .bottomform h5 {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 48px;
}
#sendreceiveform .bottomform input[type="text"] {
    display: inline-block;
    width: 100%;
    color: white;
}
#sendreceiveform .bottomform input::placeholder {
    color: white;
}

#sendreceiveform .bottomform input[type="submit"] {
    border: 1px solid #9589C5;
    padding: 4px 32px;
    background-color: #CC81FF;
    box-shadow: 0 3px 6px #E95DFF;
    color: white;
}


/* special dashboard popup styling */

#main-container.dashboard #sendreceive {
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    box-shadow: 0 0 16vw 8vw rgba(10,10,10,0.8);
    background: linear-gradient(to top left, #3C4564, #7682A9);
    z-index: -100;
    opacity: 0;
    transition: opacity 300ms;
}
#main-container.dashboard.content-main #sendreceive.transparent {
    opacity: 0;
}

#main-container.dashboard #sendreceive.active {
    z-index: 6;
    opacity: 1;
}

#main-container.dashboard #sendreceive > form {
    max-width: 600px;
    margin: 0 auto;
}

#main-container #sendreceive .x-out {
    display: none;
}
#main-container.dashboard #sendreceive .x-out {
    display: block;
    position: absolute;
    top: 5vh;
    right: 5vh;
    cursor: pointer;
}
#main-container.dashboard #sendreceive .x-out img {
    height: 40px;
}

@media screen and (max-width: 800px) {
    #main-container.dashboard #sendreceive {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: none;
    }
    #main-container.dashboard #sendreceive .x-out {
        right: 24px;
        top: 24px;
    }
}

/* change titles */
#main-container.dashboard #sendreceive .button-bar #send-button.active + .title.receive {
    display: none;
}