/* general styling */

* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
    
}

html, body {
	height: 100vh;
}

@font-face {
    font-family: haettenschweiler;
	src: url(fonts/Haettenschweiler-Regular.ttf)  format('truetype'),
		 url(fonts/Haettenschweiler-Regular.ttf);
}


body {
	/* height: 100%; */
	margin: 0;
	padding: 0;
	background-color: #003964;
	font-size: 12pt;
}

#header {grid-area: header;}
#coin-widget-container {grid-area: coin-widgets;}
#navigation-menu {grid-area: navigation;}
#transactions {grid-area: transactions;}
#shapeshift {grid-area: shapeshift;}
#trading-graph {grid-area: graph;}
#sendreceive {grid-area: sendreceive;}

[id=dashboard] {
	display: grid;
	position: absolute;
	top: 16px;
	right: 16px;
	bottom: 16px;
	left: 0;
	grid-gap: 1em;
	grid-template-rows: 2fr 1fr 5fr 3fr;
	grid-template-columns: 160px 2fr 1fr;
	grid-template-areas: 
		"header     coin-widgets sendreceive"
		"navigation graph        sendreceive"
		"navigation graph        transactions"
		"navigation shapeshift   transactions";
}

[id=fixedheading] {
	display: none;
}

#dashboard .dashbox {
	/* background-color: white; */
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: 4px solid #584dbf;
	border-image: linear-gradient(to right, #0c58a5, #7249c9) 30;
}


.fixedmenuwrapper {
	display: inline-block;
	margin-right: 0.2em;
}
.fixedlogodiv {
	margin: 1em 0.2em;
}
.fixedlogo {
	display: inline-block;
	height: 1em;
}

/* header */
#header {
	background: linear-gradient(to bottom, #704ac7, #544ebe);
	color: white;
	margin-top: -16px;
	margin-bottom: -1em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#header .headlogo {
	width: 150px;
}

#header .login a {
	color: #2da4ff;
}

/* navigation */
#navigation-menu {
	background: linear-gradient(to bottom, #544ebe, #005ba1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	margin-bottom: -16px;
}

#navigation-menu p {
	font-family: "haettenschweiler";
	font-size: 24pt;
	color: black;
}

#navigation-menu a {
	text-decoration-line: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#navigation-menu .navicon {
	height: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 250ms;
	filter: brightness(100%);
}

#navigation-menu .navicon .imgleft {
	width: 4em;
}
@media screen and (max-height: 840px) {
	#navigation-menu p {	
		font-size: 20pt;
	}
	#navigation-menu .navicon .imgleft {
		width: 3em;
	}
}
@media screen and (max-height: 660px) {
	#navigation-menu .navicon .imgleft {
		width: 2.5em;
	}
}
@media screen and (max-height: 590px) {
	#navigation-menu a {
		width: 100%;
		flex-direction: row;
		justify-content: space-evenly;
	}
	#navigation-menu p {	
		font-size: 16pt;
	}
	#navigation-menu .navicon .imgleft {
		width: 2em;
	}
}
@media screen and (max-height: 380px) {
	#navigation-menu .navicon .imgleft {
		width: 1.5em;
	}
}

#navigation-menu div.navicon.active {
	background-color:  #003964;
}

#navigation-menu div.navicon:not(.active):hover {
	background-color: rgba(255,255,255,0.3);
}

#navigation-menu .navicon.login-logout {
	margin-top: 50%;
}

/* coin widgets */
#coin-widget-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.coin-widget {
	font-size: 20pt;
	width: 31%;
	position: relative;
}
.coin-widget img.coin-logo {
	position: absolute;
	top: 10px;
	left: 10px;
}

/* graph */
#trading-graph > div {
	height: 100%;
	width: 100%;
}

/* send/receive */
#sendreceive{
}

/* history */
#balance-transaction-history {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
}





/* Begin mobile */

@media only screen and (max-width: 50em) {
	html {
		height: auto;
	}
	body {
		margin: 0;
		padding: 0;
	}
	[id=dashboard] {
		display: block;
		margin: 0;
	}
	[id=header] {
		display: none;
	}
	[id=leftmenu] {
		display: none;
	}
	[id=fixedheading] {
		/* background-color: #842447; */
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: fixed;
		width: 100%;
		height: 3em;
		margin-top: 0;
		background-image: linear-gradient(to bottom right, #c04847, #480047);
		/* background: linear-gradient(to top left, rgba(0,0,0,0.125), rgba(0,0,0,0.25)); */
		/* border-style: solid; */
		/* border-color: #009FFF; */
		/* border-width: 0.1em; */
		border-radius: 0.2em;
		font-size: 1.2em;
		padding: 0.2em;
		color: white;
		/* text-align: center; */
	}
	.main {
		display: none
	}
	.left {
		padding-top: 4.6em;
		display: block;
	}
}

/* End Mobile */