/* general styling */

* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
    
}

html, body {
	height: 100vh;
}

@font-face {
    font-family: haettenschweiler;
	src: url(fonts/Haettenschweiler-Regular.ttf)  format('truetype'),
		 url(fonts/Haettenschweiler-Regular.ttf);
}


body {
	/* height: 100%; */
	margin: 0;
	padding: 0;
	background-color: #003964;
	font-size: 12pt;
}

#header {grid-area: header;}
#widget-bitcoin {grid-area: bitcoin;}
#widget-litecoin {grid-area: litecoin;}
#widget-etherium {grid-area: etherium;}
#widget-ripple {grid-area: ripple;}
#navigation-menu {grid-area: navigation;}
#balance-transaction-history {grid-area: history;}
#market-overview {grid-area: market;}
#trading-graph {grid-area: graph;}

[id=dashboard] {
	display: grid;
	height: 100%;
	margin-right: 1em;
	grid-gap: 1em;
	grid-template-rows: 1fr 3fr 2fr;
	grid-template-columns: 160px 1fr 1fr 1fr 1fr;
	grid-template-areas: 
		"header bitcoin litecoin etherium ripple"
		"navigation graph graph market market"
		"navigation history history history history";
}

[id=fixedheading] {
	display: none;
}


.imgleft {
	width: 4em;
}
.imghead {
	height: 1em;
	padding: 0;
}
.fixedmenuwrapper {
	display: inline-block;
	margin-right: 0.2em;
}
.fixedlogodiv {
	margin: 1em 0.2em;
}
.fixedlogo {
	display: inline-block;
	height: 1em;
}

/* header */
#header {
	background: linear-gradient(to bottom, #704ac7, #544ebe);
	color: white;
	margin-bottom: -1em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#header .headlogo {
	width: 150px;
}

#header .login a {
	color: #2da4ff;
}

/* navigation */
#navigation-menu {
	background: linear-gradient(to bottom, #544ebe, #005ba1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

#navigation-menu p {
	font-family: "haettenschweiler";
	font-size: 24pt;
	color: black;
}

#navigation-menu a {
	text-decoration-line: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#navigation-menu .navicon {
	height: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#navigation-menu div.navicon.active {
	background-color:  #003964;
}

#navigation-menu .navicon.login-logout {
	margin-top: 50%;
}

/* coin widgets */
.coin-widget {
	margin-top: 16px;
	background-color: white;
	font-size: 24pt;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* graph */
#trading-graph > div {
	height: 100%;
}

/* market */
#market-overview {
	background-color: white;
}

/* history */
#balance-transaction-history {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
}





/* Begin mobile */

@media only screen and (max-width: 50em) {
	html {
		height: auto;
	}
	body {
		margin: 0;
		padding: 0;
	}
	[id=dashboard] {
		display: block;
		margin: 0;
	}
	[id=header] {
		display: none;
	}
	[id=leftmenu] {
		display: none;
	}
	[id=fixedheading] {
		/* background-color: #842447; */
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: fixed;
		width: 100%;
		height: 3em;
		margin-top: 0;
		background-image: linear-gradient(to bottom right, #c04847, #480047);
		/* background: linear-gradient(to top left, rgba(0,0,0,0.125), rgba(0,0,0,0.25)); */
		/* border-style: solid; */
		/* border-color: #009FFF; */
		/* border-width: 0.1em; */
		border-radius: 0.2em;
		font-size: 1.2em;
		padding: 0.2em;
		color: white;
		/* text-align: center; */
	}
	.main {
		display: none
	}
	.left {
		padding-top: 4.6em;
		display: block;
	}
}

/* End Mobile */