.tempcolorholderaaaaaaaa {
	background-color: initial;
	background: linear-gradient(
		#005ba1 ,#704ac7, #0e770a, #7249c9, #4286f4, #c35bff, #005972,#350072, #0c58a5, #d9a0ff, #ce1257, #67d4fc, #4f0749, #d4baff, #00305e); 
}

@font-face {
    font-family: haettenschweiler;
	src: url(../fonts/Haettenschweiler-Regular.ttf)  format('truetype'),
		 url(../fonts/Haettenschweiler-Regular.ttf);
}

/* box sizing */
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	--color1: #704ac7;
	--color2: #005ba1;
	--myColor: green;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

/* general styling */
* {
	padding: 0;
	margin: 0;
	font-family: haettenschweiler, sans-serif;
	font-weight: lighter;
	font-size: 22px;
}

h3 {
	font-size: 26pt;
}

p {
	font-family: sans-serif;
	font-size: 12pt;
}

input[type="text"] {
	border: 2px solid #584dbf;
	background-color: transparent;
}

body {
	margin: 0;
	padding: 0;
	background-color: #00001a;
}

html {
	scrollbar-face-color: #646464;
	scrollbar-base-color: #646464;
	scrollbar-3dlight-color: #646464;
	scrollbar-highlight-color: #646464;
	scrollbar-track-color: #000;
	scrollbar-arrow-color: #000;
	scrollbar-shadow-color: #646464;
	scrollbar-dark-shadow-color: #646464;
}
::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button { background-color: transparent; }
::-webkit-scrollbar-track { background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #00001a;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #005c96; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #061082;}
::-webkit-resizer { background-color: #666;}


/* grid layout */
#coin-widget-container {grid-area: coin-widgets;}
#navigation-menu {grid-area: navigation;}
#transactions {grid-area: transactions;}
#shapeshift {grid-area: shapeshift;}
#trading-graph {grid-area: graph;}
#sendreceive {grid-area: sendreceive;}

#main-container.dashboard {
	display: grid;
	position: absolute;
	top: 16px;
	right: 16px;
	bottom: 16px;
	left: 0;
	grid-gap: 16px;
	grid-template-rows: 2fr 1fr 5fr 3fr;
	grid-template-columns: 160px 2fr 1fr;
	grid-template-areas: 
		"navigation coin-widgets sendreceive"
		"navigation graph        sendreceive"
		"navigation graph        transactions"
		"navigation shapeshift   transactions";
}

[id=fixedheading] {
	display: none;
}

#main-container .dashbox {
	/* background-color: white; */
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: 4px solid #584dbf;
	border-image: linear-gradient(to right, #0c58a5, #7249c9) 30;
}


.fixedmenuwrapper {
	display: inline-block;
	margin-right: 8px;
}
.fixedlogodiv {
	margin: 16px 8px;
}
.fixedlogo {
	display: inline-block;
	height: 16px;
}

/* header */
#header-mobile {
	display: none;
}
/* #header {
	background: linear-gradient(to bottom, #704ac7, #544ebe);
	color: white;
	margin-top: -16px;
	margin-bottom: -16px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-top: 16px;
}
#header .headlogo.desktop {
	width: 21vh;
	max-width: 160px;
}
#header .headlogo.mobile {
	display: none;
}
#header .login a {
	color: #14181b;
}
#header h2 {
	display: none;
} */

/* navigation */
#navigation-menu {
	background: linear-gradient(to bottom, #704ac7, #005ba1);
	background: linear-gradient(to bottom, var(--color1), var(--color2));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	margin: -16px 0;
}

#navigation-menu p {
	font-family: "haettenschweiler";
	font-size: 24pt;
	color: black;
}

#navigation-menu a {
	text-decoration-line: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#navigation-menu .navicon {
	height: 12%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 250ms;
	filter: brightness(100%);
}
#navigation-menu .navicon.headlogodiv a {
	height: 100%;
}
#navigation-menu .navicon.headlogodiv img.headlogo {
	height: 100%;
	min-height: 80px;
}

#navigation-menu .navicon .imgleft {
	width: 64px;
}
@media screen and (max-height: 840px) {
	#navigation-menu p {	
		font-size: 20pt;
	}
	#navigation-menu .navicon .imgleft {
		width: 48px;
	}
}
@media screen and (max-height: 660px) {
	#navigation-menu .navicon .imgleft {
		width: 40px;
	}
	#navigation-menu .navicon.headlogodiv {
		margin-top: 15px;
	}
}
@media screen and (max-height: 590px) {
	#navigation-menu a {
		width: 100%;
		flex-direction: row;
		justify-content: space-evenly;
	}
	#navigation-menu p {	
		font-size: 16pt;
	}
	#navigation-menu .navicon .imgleft {
		width: 32px;
	}
}
@media screen and (max-height: 380px) {
	#navigation-menu .navicon .imgleft {
		width: 24px;
	}
	#navigation-menu .navicon.headlogodiv {
		margin-top: 30px;
	}
}

#navigation-menu div.navicon.active {
	background-color:  #003964;
}

#navigation-menu div.navicon:not(.active):not(.empty):hover {
	background-color: rgba(255,255,255,0.3);
}

/* coin widgets */
#coin-widget-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
#coin-widget-container .coin-widget {
	font-size: 20pt;
	width: 31%;
	position: relative;
}
#coin-widget-container .coin-widget .coin-label {
	position: absolute;
	top: 5px;
	left: 10px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
#coin-widget-container .coin-widget .coin-label img {
	height: 35px;
}
#coin-widget-container .coin-widget .coin-label h4 {
	display: block;
	font-size: 26px;
	/* color: #584dbf; /*fallback*/
	background-image: linear-gradient(to top right, #0c58a5, #7249c9); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
@media screen and (max-width: 1230px) {
	#coin-widget-container .coin-widget img.coin-logo {
		height: 25px;
	}
}

#coin-widget-container .coin-widget .ticker-main {
	color: white;
	font-style: italic;
}
@media screen and (min-width: 800px) and (max-width: 1530px) {
	#coin-widget-container .coin-widget .ticker-main {
		position: relative;
		top: 18px;
	}
}

#coin-widget-container .coin-widget .ticker-main h4.change {
	color: rgb(16, 182, 16);
}

/* graph */
#trading-graph > div {
	height: 100%;
	width: 100%;
}

/* transactions */
#main-container #transactions {
	display: block;
	text-align: center;
	overflow-y: scroll;
}
#main-container #transactions #balance-content {
	margin-bottom: 20px;
}
#main-container #transactions .balancetable ul {
	width: 50%;
	margin: 0 auto;
}


/**** Mobile Design ****/

@media screen and (max-width: 800px) {
	/* header */
	#header-mobile {
		display: block;
		background: linear-gradient(to right, #704ac7, #005ba1);
		margin: 0;
		padding: 8px 0;
	}
	#header-mobile a {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		text-decoration: none;
	}
	#header-mobile .headlogo.mobile {
		height: 50px;
		display: block;
		margin: 0;
		padding: 0;
	}
	/* navigation */
	#navigation-menu {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 60px;
		align-items: center;
		margin: 0;
		flex-direction: row;
		justify-content: space-between;
		background: linear-gradient(to right, #704ac7, #005ba1);
	}
	#navigation-menu .navicon {
		height: 60px;
		width: 100%;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: none;
	}
	#navigation-menu .navicon.headlogodiv, #navigation-menu .navicon.empty {
		display: none;
	}
	#navigation-menu .navicon.login-logout {
		margin: 0;
	}
	#navigation-menu div.navicon.active {
		background-color:  initial;
	}
	#navigation-menu div.navicon .imgleft {
		width: 17vw;
		max-width: 50px;
	}
	#navigation-menu div.navicon p {
		display: none;
	}

	/* general layout */
	#main-container.content-main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		top: 0;
		left: 0;
		bottom: 60px;
		right: 0;
	}

	#coin-widget-container {
		height: 40%;
		display: block;
		padding: 15px 0;
	}
	#coin-widget-container .coin-widget {
		width: 100%;
		height: 93%;
	}
	#coin-widget-container:after {
		content: 'flickity';
		display: none;
	}
	#coin-widget-container .flickity-viewport {
		overflow-y: initial;
	}
	#coin-widget-container .coin-widget img.coin-logo {
		left: 30px;
	}

	#transactions {
		height: 50%;
		overflow-y: scroll;
	}

	#main-container.dashboard #sendreceive, #main-container.dashboard #shapeshift, #main-container.dashboard #trading-graph {
		display: none;
	}
}