.searchwidget {
    display: grid;
    align-content: center;
    overflow: hidden;
}

/*** search bar ***/
.search-bar-container {
	margin-bottom: 20px;
	color: white;
    text-align: center;
}

.search-bar {
    margin-bottom: 20px;
}

.search-button {
	text-align: center;
	margin: 0 auto;
	display: block;
	max-width: 200px;
}



/*** results ***/

.searchwidget .results {
    overflow: auto;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}

.searchwidget .results .single-result {
    width: 100%;
    max-width: 140px;
    padding: 4px;
    margin: 8px 16px;
    display: block;
}

.searchwidget .results .single-result > * {
    margin-bottom: 4px;
}

.searchwidget .results .single-result a.to-profile {
    display: block;
    padding: 4px;
    border-radius: 8px;
}

.searchwidget .results .single-result a {
    color: white;
}

.searchwidget .results .single-result a.follow {
    border: 2px solid black;
}

.searchwidget .results .single-result a.unfollow {
    background: white;
    color: black;
    content: "Unfollow";
    border: none;
}

.searchwidget .results .single-result img {
    object-fit: cover;
    width:115px;
    height:115px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}