.send-widget {
    display: grid;
    align-content: center;
    overflow: hidden;
    color: white;
}

.send-widget .tab-container .tab {
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    margin: 0 auto;
    text-align: center;
}

.send-widget .tab-container .tab.active {
    display: flex;
}

.send-widget .tab-container .tab.send-form {
    max-width: 800px;
}

.send-widget .tab-container .tab > * {
    margin-bottom: 16px;
    text-align: center;
}

.send-widget .tab-container .tab.response ul {
    list-style-position: inside;
}

.send-widget .tab-container .tab.response p {
    text-align: center;
    white-space: nowrap;
}

.send-widget .tab-container .tab.response #send-response-results-container > * {
    margin-bottom: 8px;
    text-align: center;
}

.send-widget .tab-container .tab.response p span.from {
    color: rgb(255, 112, 102);
}
.send-widget .tab-container .tab.response p span.to {
    color: rgb(69, 253, 69);
}

.send-widget .tab-container .tab.response p span.me-BTC {
    color: #8EDEFC;
}
.send-widget .tab-container .tab.response p span.me-LTC {
    color: #FFFF98;
}
.send-widget .tab-container .tab.responses p span.me-ETH {
    color: #FF80B7;
}