.send-widget {
    display: grid;
    align-content: center;
    overflow: hidden;
    color: white;
}

.send-widget .tab-container .tab {
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    margin: 0 auto;
    text-align: center;
}

.send-widget .tab-container .tab.active {
    display: flex;
}

.send-widget .tab-container .tab.send-form {
    max-width: 800px;
}

.send-widget .tab-container .tab > * {
    margin-bottom: 16px;
    text-align: center;
}

.send-widget .tab-container .tab.response ul {
    list-style-position: inside;
}