.send-widget {
    display: grid;
    align-content: center;
    overflow: hidden;
    color: white;
}

.send-widget .tab {
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    margin: 0 auto;
    text-align: center;
}

.send-widget .tab.send-form {
    max-width: 800px;
}

.send-widget .tab > * {
    margin-bottom: 16px;
    text-align: center;
}