/* overall layout */
#transactions {
	display: block;
    overflow: hidden;
    text-align: left;
}
#transactions > .container {
	overflow: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

#transactions .transaction-history-list {
    margin: 0 auto;
    display: inline-block;
}

/* element style */
#transactions .transaction-history-list > div {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 2px solid #1C8FE7;
}

#transactions .transaction-history-list > div > * {
    margin-bottom: 8px;
}

#transactions h3 a {
    margin-bottom: 24px;
    text-align: center;
}

#transactions p {
    font-size: 10pt;
    text-align: justify;
    white-space: nowrap;
    text-overflow: clip;
}

#transactions p span.from {
    color: rgb(255, 112, 102);
}
#transactions p span.to {
    color: rgb(69, 253, 69);
}

#transactions p span.me-BTC {
    color: #8EDEFC;
}
#transactions p span.me-LTC {
    color: #FFFF98;
}
#transactions p span.me-ETH {
    color: #FF80B7;
}